<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table mt-5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Female</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let name of female; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{name}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table mt-5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Male</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let name of male; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>